{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="{% static 'bostrap/css/bootstrap.css' %}" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
    <link>
    <link
      href="{% static 'bostrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />

    <title>Regsration</title>
  </head>
  <body>
    {% block content %} {% endblock %}
    <script src="{% static 'bostrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'bostrap/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/register.js' %}"></script>

  </body>
</html>
