{% extends 'authapp/base.html' %} {% block content %}

<div class="row container d-flex justify-content-center">
  <div class="col-lg-3 mb-4">Email Verifications </div>

  <div class="col-lg-4 mb-4">
    <div class="card mt-5">
      <div class="card-title text-center">
        <h3>email veriofication page </h3>
      </div>
      <div class="card-body text-center">
        
          {% include 'authapp/message.html' %}
         
       
         
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
