{% extends 'authapp/base.html' %} {% block content %}

<style>

.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: -2rem!important ;
    border: 1px solid transparent;
    border-radius: 0.25rem;

}
</style>
<body style="background-color: #084298;">
  <div class="row container d-flex justify-content-center" style="padding-top: 100px;">
  {% if messages %}
  <div class="col-lg-4 mb-4">
    {% for message in messages %} {% if message.tags %}
    <div class="alert alert-sm {{ message.tags }}"role="alert">
    
    
    {% endif %} {{ message }}

  </div>
    {% endfor %}
    </div>
    {% endif %}
    </div>
    <div class="row container d-flex justify-content-center">
      <div class="col-lg-4 mb-4">
    <div class="card">
      <div class="card-title text-center">
        
        <h3>Enter Email</h3>
      </div>
      <div class="card-body text-center">
        <form method="POST">
          {% csrf_token %} 

          <div class="form-group mb-3">
            <input
              class="form-control form"
              type="email"
              name="email"
              placeholder="enter email"
              id="usernameinput"
              aria-label="default input example"
            />
          </div>

         
          <p class="text-sm text-success fx-5" id="messages "></p>

          <div class="form-group">
            <input type="submit" value="Send Email" class="btn btn-block btn-primary sumbitbtn" />
          </div>
        </form>
       
      </div>
    </div>
   
  </div>
   
</div>
</body>

{% endblock %}
