{% extends 'authapp/base.html' %} {% block content %}

<div class="row container d-flex justify-content-center">
  <div class="col-lg-3 mb-4">testing from all the bal</div>

  <div class="col-lg-4 mb-4">
    <div class="card mt-5">
      <div class="card-title text-center">
        <h3>Regsration portal</h3>
      </div>
      <div class="card-body text-center">
        <form action="{% url 'register'%}" method="POST">
          {% csrf_token %} {% include 'authapp/message.html' %}

          <div class="form-group mb-3">
            <input
              class="form-control form"
              type="text"
              name="email"
              placeholder="email address"
              id="emailinput"
              aria-label="default input example"
            />
          </div>
          <p class="text-sm text-success emailcheckinginput"></p>
          <div
            class="invalid-feedback EmailfeedBackArea"
            style="display: none"
          ></div>

          <div class="form-group mb-3">
            <input
              class="form-control form"
              type="text"
              name="username"
              placeholder="username"
              id="usernameinput"
              aria-label="default input example"
            />
          </div>
          <div class="invalid-feedback" style="display: none"></div>
          <p class="text-sm text-success usernamesuccessoutput"></p>

          <div class="form-group mb-3">
            <input
              class="form-control"
              type="text"
              name="first_name"
              placeholder="full name"
              id="fullnameinput"
              aria-label="default input example"
            />
          </div>

          <div class="form-group mb-3">
            <input
              class="form-control"
              type="password"
              onchange="onChange()"
              ;
              name="password1"
              placeholder="password"
              id="passwordinput"
              aria-label="default input example"
            />
            <small class="float-end py-2 showpassword">show</small>
          </div>
          <p class="text-sm text-success fx-5" id="messages "></p>

          <div class="form-group mb-3">
            <input
              class="form-control"
              type="password"
              onchange=" onChange()"
              ;
              name="password2"
              placeholder="password"
              id="passwordinput1"
              aria-label="default input example"
            />
          </div>

          <div class="form-group">
            <input type="submit" class="btn btn-block btn-primary sumbitbtn" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
