<style>
  .sidebar .nav-link{
    color: aliceblue!important;
  }


  .dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #ffffff!important;
    text-align: left;
    list-style: none;
    background-color: #020426;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}


.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #ffffff;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;}
</style>


<nav
  id="sidebarMenu"
  class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"style="
  background-color: #020426!important;
"
>
  <div class="position-sticky pt-3" >
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active bb" aria-current="page" href="{% url 'dashboard' %}">
          <span data-feather="home"></span>
          Dashboard
        </a>
      </li>
      

    </ul>

    <div class="main">
    <h6
      class="
        sidebar-heading
        d-flex
        justify-content-between
        align-items-center
        px-3
        mt-4
        mb-1
        text-muted
      "
    >
      
    </h6>
    <ul class="nav flex-column mb-2">
     
      <li class="nav-item">
        
        <button class="btn btn-secondary dropdown-toggle" type="button" onclick="dropdown()" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="bi bi-window-dash"></span> 
          Expenses
        </button>
        <div class="dropdown-menu  mydrop" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item " href="{% url 'addexpenses' %}">  <span class="bi bi-window-dash"> Add Expenses </span> </a>
        
          <a class="dropdown-item" href="{% url 'dashboard' %}"><span class="bi bi-eye-fill"> All Expenses </span></a>
          <a class="dropdown-item" href="{% url 'expensive_sum' %}"><span class="bi bi-eye-fill"> Expenses Summary  </span></a>
         
      
        </div>
      </li>

        
      <li class="nav-item">
        
        <button class="btn btn-secondary dropdown-toggle" type="button" onclick="dropdown1()" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="bi bi-window-dash"></span> 
         Income
        </button>
        <div class="dropdown-menu  mydrop1" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item " href="{% url 'addincome' %}">  <span class="bi bi-window-dash"> Add Income </span> </a>
        
          <a class="dropdown-item" href="{% url 'incomepage' %}"><span class="bi bi-eye-fill"> My Income</span></a>
          <a class="dropdown-item" href="{% url 'dashboard' %}"><span class="bi bi-eye-fill">weekly income</span></a>
          <a class="dropdown-item" href="{% url 'dashboard' %}"><span class="bi bi-eye-fill">Monthly income</span></a>
         
      
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Social engagement
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Year-end sale
        </a>
      </li>
    </ul>
 
      
 
    <h6
      class="
        sidebar-heading
        d-flex
        justify-content-between
        align-items-center
        px-3
        mt-4
        mb-1
        text-muted
      "
    >
    
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'userstting'  %}">
          <span data-feather="file-text"></span>
          Currency Setting
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Profile Setting
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Balence
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Year-end sale
        </a>
      </li>
    </ul>
  </div>

  </div>
</nav>
<script>
  function dropdown(){
    $('.mydrop').toggle();
  };

  function dropdown1(){
    $('.mydrop1').toggle();
  }
  
</script>